.header {
  background-color: #ffffff;
  color: #2e2f42;
  width: 1440px;
  height: 72px;
}
.logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.03em;
  line-height: 1.17;
  text-transform: uppercase;
  text-decoration: none;
}
.h-span {
  color: #2e2f42;
}
.f-span {
  color: #f4f4fd;
}
.nav-left {
  font-weight: 500;
}
.navleft-li {
  text-decoration: none;
  color: #2e2f42;
  letter-spacing: 0.02em;
}
.nav-studio {
  text-decoration: none;
  color: #2e2f42;
  letter-spacing: 0.02em;
}
.nav-right {
  font-style: normal;
}
.navright-li {
  text-decoration: none;
  color: #2e2f42;
  letter-spacing: 0.02em;
  color: #434455;
}
.navright-li:hover,
.navleft-li:hover {
  color: #404bbf;
}
.navright-li:active,
.navleft-li:active {
  color: #404bbf;
}
.navright-li:focus,
.navleft-li:focus {
  color: #404bbf;
}
.nav-studio:hover,
.nav-studio:active,
.nav-studio:focus {
  color: #404bbf;
}
body {
  color: #434455;
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
ul {
  list-style-type: none;
}
.h-one {
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
}
.solutions {
  color: #ffffff;
  background-color: #2e2f42;
}
.button {
  color: #ffffff;
  background-color: #4d5ae5;
  width: 169px;
  height: 56px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  text-align: center;
}
.button:focus,
.button:hover {
  background-color: #404bbf;
}
.h-two {
  color: #2e2f42;
  text-transform: capitalize;
  font-size: 36px;
  letter-spacing: 0.02em;
  line-height: 1.11;
  font-weight: 700;
  text-align: center;
}
.h-three {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.team {
  background-color: #f4f4fd;
  width: 1440px;
  height: 732px;
}
.team li {
  background-color: #ffffff;
  width: 264px;
  height: 380px;
  text-align: center;
}
.portfolio-li {
  width: 360px;
  height: 420px;
  text-align: left;
}
.footer {
  background-color: #2e2f42;
  color: #f4f4fd;
  width: 1440px;
  height: 312px;
}
.mission > .h-three {
  text-align: left;
}
