header {
  background-color: #ffffff;
  color: #2e2f42;
}
.span1 {
  color: #2e2f42;
}
.logo1 {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.03em;
  line-height: 1.17;
  text-transform: uppercase;
  text-decoration: none;
}
.nav-left {
  font-weight: 500;
}
.navleft-li {
  text-decoration: none;
  color: #2e2f42;
  letter-spacing: 0.02em;
}
.nav-right {
  font-style: normal;
}
.navright-li {
  text-decoration: none;
  color: #2e2f42;
  letter-spacing: 0.02em;
  color: #434455;
}
.navright-li:hover,
.navleft-li:hover {
  color: #404bbf;
}
.studio:active {
  color: #404bbf;
}
body {
  color: #434455;
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 2%;
}
ul {
  list-style-type: none;
}
.header1 {
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
}
.solutions {
  color: #ffffff;
  background-color: #2e2f42;
}
.button {
  color: #ffffff;
  background-color: #4d5ae5;
  width: 169px;
  height: 56px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
}
.button:focus,
.button:hover {
  background-color: #404bbf;
}
.header3 {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.header2 {
  color: #2e2f42;
  text-transform: capitalize;
  font-size: 36px;
  letter-spacing: 0.02em;
  line-height: 1.11;
  font-weight: 700;
  text-align: center;
}
.team {
  background-color: #f4f4fd;
}
.team li {
  background-color: #ffffff;
}
.logo2 {
  color: #f4f4fd;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.03em;
  line-height: 1.17;
}
footer {
  background-color: #2e2f42;
  color: #f4f4fd;
}
